@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* For the UI backgrounds on top of the Canvas background */
.glass_background{
  @apply backdrop-blur-sm bg-gray-500/10 text-gray-800 dark:text-gray-200
}

.unclickable_link{
  @apply fill-red-500 dark:fill-blue-500 text-red-500 dark:text-blue-500
}

.clickable_link {
  @apply fill-blue-500 dark:fill-red-500 text-blue-500 dark:text-red-500
}

/* For Webkit-based Chrome, Safari and Opera */
.hidden_scrollbar::-webkit-scrollbar {
  display: none;
}
/* TODO: Add styling for all h classes */
h1 {
  @apply text-3xl
}

h2 {
  @apply text-xl
}

/* For IE, Edge and Firefox */
.hidden_scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}